{% load comments %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>

{% if messages %}
    {% for m in messages %}
        {{m}}
    {% endfor %}
{% endif %}

<ul>
    {% for food in foods %}
        <li>
            {{ food.name }}
            <ul>
                <li>{{ food.price }}</li>
                <li>{{ food.description }}</li>
            </ul>

            {% get_comment_list for food as comments_list %}
            {% for comment in comments_list %}
                <p>{{ comment.submit_date|date:'N j\, Y\, g\:i a' }} - {{ comment.user.username }}</p>
                <p>{{ comment.comment }}</p>
            {% endfor %}

            {% if user.is_authenticated %}
                {% render_comment_form for food %}
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit">Submit</button>
                </form>
            {% else %}
                <h1>Please log in to leave a comment.</h1>
            {% endif %}
        </li>
    {% endfor %}
</ul>

</body>
</html>